*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.header{
	height: auto;
	width:100%;
	background: black;
	display: flex;
	text-align: center;
	line-height:40px;
	color: white;
	font-family:sans-serif;
	font-weight: bold;
	flex-wrap: wrap;
}
.header .blank1{
	height: 40px;
	width:10%;
	
}
.header .singin{
	height: 40px;
	width:20%;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}
.header .singup{
	height: 40px;
	width:20%;
	border-right: 1px solid grey;
}
.header .call{
	height: 40px;
	width:20%;
	border-right: 1px solid grey;
}
.header .email{
	height: 40px;
	width:20%;
	border-right: 1px solid grey;
}
.header .blank2{
	height: 40px;
	width:10%;
	
}
.header i{
	color: #2fdab8;
}

.header2{
   	height:auto;
   	width:100%;
   	display: flex;
   	text-align: center;
   	flex-wrap: wrap;
}
.header2 .search{
   	height:140px;
   	width:33.33%;
   	padding-top: 40px;
}
.header2 .search input{
	height: 60px;
	width: 330px;    
	outline: none;
    font-size: 20px;
    padding-top: 10px;
}
.header2 .search .fa-search{
	padding: 14px 14px;
	background: #2fdab8;
	color: white;
	font-size: 30px;
}
.header2 .logo{
   	height:140px;
   	width:33.33%;
   	padding-top: 40px;
    position: relative;
    font-size:50px;
    text-align: left;
}	

.header2 .logo span{
	padding:10px 20px;
	background:black;
	color: white;
	font-weight: bold;
}
.header2 .logo .fa-shopping-bag{
	position: absolute;
	top: 92px;
	left:274px;
	color: #2fdab8;
	font-size: 16px;
}
.header2 .icon{
   	height:140px;
   	width:33.33%;
   	display: flex;
}
.header2 .icon .share{
	height:140px;
   	width:40%;
   	font-size: 22px;
   	font-family: sans-serif;
   	line-height: 140px;
   	text-align: right;
}
.header2 .icon .main{
	height:140px;
   	width:60%;
   	display: flex;
   	margin-left: 0px;
}
.header2 .icon .main .abc{
    height:40px;
   	width:50px;
   	position: relative;
    margin: 50px 6px;

}
.header2 .icon .main .abc .front{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 11px 16px;
	background:white;
	transform: rotateX(180deg);
	backface-visibility: hidden;
	transition: 1s;
}
.header2 .icon .main .abc .back .fa-facebook {
	background:#3b5998 ;
	color: white;
    padding: 11px 16px;
}
.header2 .icon .main .abc .back .fa-instagram {
	background:#f46f30;
	color: white;
    padding: 11px 16px;	

}
.header2 .icon .main .abc .back .fa-twitter {
	background:#1da1f2 ;
	color: white;
    padding: 11px 16px;
}
.header2 .icon .main .abc .back .fa-linkedin {
	background:#bd081c;
	color: white;
    padding: 11px 16px;
}
.header2 .icon .main .abc:hover .front{
   transform: rotateX(0deg);
}
.header2 .icon .main .abc .back{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateX(0deg);
	backface-visibility: hidden;
	transition: 1s;

}
.header2 .icon .main .abc:hover .back{
    transform: rotateX(180deg);
}
    

