@media(min-width: 500px)
{
	.header{grid-template-columns: 1fr;}
	.header .off{text-align: center;padding-left: 0;}
	.header .cart{text-align: center;padding-right: 0;}

	.header1{grid-template-columns: 1fr;position: static;}
	.header1 .logo{display: flex; justify-content: left; padding-left:20px;}
	.header1 .nev{padding-right: 0px;display: flex; justify-content: right;}

	.banner1{padding: 80px 80px 130px 30px;}
	.banner1 .info h1{font-size: 40px;}
	.banner1 .info p{font-size: 20px;}	

	.heading{font-size: 25px; padding: 15px 0px;}

	.information .info{grid-template-columns: 1fr;}
	.information{padding: 0px 10px;}

	.banner .pace{grid-template-columns: 1fr;}
	.banner{padding: 40px 25px;}
	.banner .pace .part1{margin: 10px 5px;}

	.product_heading li{margin-right: 10px;}
	.product_heading a{font-size: 14px;}
	.product_heading p{font-size: 25px;}

	.vegetable .text{padding-top: 120px ;padding-bottom: 150px;  text-align: center;}
	.vegetable .text h1{font-size: 50px;}

	.hart{grid-template-columns: 1fr;}
	.hart .b{padding-left: 10px; padding-right: 10px;}

	.blog .food{grid-template-columns: 1fr;}
	.blog .food .a{margin-top: 30px;}
	.blog{padding: 20px 20px;}

	.poster .mainpart{grid-template-columns: 1fr;}
	.poster .mainpart .part1{margin: 0px 30px;}
	
	.subsribe{padding: 20px 50px;}
	.subsribe input{width: 100%;}
	.subsribe button{padding: 18px 0px; width: 100%; margin-left: 0px; }
    
    .main{grid-template-columns: 1fr;grid-template-rows: 420px 420px 420px 420px;}
    .main .m1{margin-top: 20px;}
    .main .m1 .addicon .h{margin: 0px 50px;} 

    .footer{padding: 20px 0px;}
    .footer .part{grid-template-columns: 4fr 6fr; padding: 0px 0px;}
    .about_us{padding: 50px 0px;}
    
    .xyz{padding: 20px 0px;grid-template-columns: 1fr;}
    .xyz .happy{padding-top: 20px;}

    .aboutbanner{background-repeat: no-repeat;background-size: cover;padding: 0px 0px 300px 0px;background-size: 100% 50%;}
    .information1{grid-template-columns: 1fr; padding: 50px 0px;}

    .what{padding: 50px 20px;}
    .the_founder{padding: 40px 20px; background-size: 100% 100%;background-position: top center; background-size: cover;}
    .ot{padding: 40px 30px;}
    .team{padding: 0px 30px;}
    .team .team_img{grid-template-columns: 1fr;}
    
    .our_s{padding: 30px 0px;}    
    .our_s .skills{grid-template-columns: 1fr;}
    .our_s .skills .a{margin-top: 20px;}

}
@media(min-width: 700px)
{
	.header{grid-template-columns: 1fr;}
	.header .off{text-align: left;padding-left: 80px;}
	.header .cart{text-align: right;padding-right: 80px;}
	.header1{grid-template-columns: 1fr;}
	.header1 .logo{display: flex; justify-content: left; padding-left: 70px;}
	.header1 .nev{padding-right: 70px;display: flex; justify-content: right;}
	.banner1{padding: 135px 80px 180px 30px;background-size: 100% 100%;}	

	.banner1 .info h1{font-size: 60px;}
	.banner1 .info p{font-size: 25px;}	
	.heading{font-size: 32px; padding: 20px 0px;}

	.information .info{grid-template-columns: 1fr 1fr 1fr;}
	.information{padding: 0px 30px;}
	.information .info .a .x{font-size: 13.2px;}
	.information .info .a .title{font-size: 16px;}
	
	.main{grid-template-columns: 1fr 1fr;grid-template-rows: 420px 420px}
	.main .m1 .addicon .h{margin: 0px 30px;} 

	.banner .pace{grid-template-columns: 1fr 1fr;}
	.banner{padding: 60px 10px;}
	.banner .pace .part1{margin: 0px 5px;}

	.product_heading li{margin-right: 20px;}
	.product_heading a{font-size: 16px;}
	.product_heading p{font-size: 35px;}

	.vegetable .text{padding-top: 170px ;padding-bottom: 200px;text-align: center;}

	.blog{padding: 20px 70px;}

	.subsribe input{width: 60%;}
	.subsribe button{padding: 18px 80px; width: 0%; margin-left: 10px; }

	.footer .part{padding: 25px 0px;}

	.about_us{padding: 70px 100px;}

	.xyz{padding: 40px 40px;grid-template-columns: 1fr 1fr 1fr;}
	.xyz .happy{padding-top: 0px;}

	.aboutbanner{background-repeat: no-repeat;background-size: cover;padding: 0px 0px 280px 0px;background-size: 100% 110%;}
    
    .information1{padding: 50px 0px;grid-template-columns: 1fr 1fr 1fr;}
    .information1 .shipping p{font-size: 14px;}

    .what{padding: 60px 100px;}
    .the_founder{padding: 80px 100px;}
    .ot{padding: 60px 160px;}
    .team{padding: 0px 10px;}
  	.team .team_img .a{margin: 0px 10px;}
  	.team .team_img .a .l{padding-top: 100px;}
  	.team .team_img{grid-template-columns: 1fr 1fr 1fr;}
  	.our_s{padding: 30px 0px;}
  	.our_s .skills{grid-template-columns: 1fr 1fr;}


}

@media(min-width: 900px)
{
	.header1{position: sticky;top: 0; left: 0;}
	.header{grid-template-columns: 5fr 5fr;}
	.header1{grid-template-columns: 3fr 7fr;}
	.banner1{padding: 235px 80px 280px 80px; background-size: 139% 100%;}
	.banner1 .info h1{font-size: 80px;}
	.banner1 .info p{font-size: 30px;}	
	.heading{font-size: 48px; padding: 30px 0px;}
	.information{padding: 0px 30px;}
	.information .info .a .title{font-size: 18px;}
	.information .info .a .x{font-size: 13.7px;}

	.banner{padding: 80px 30px;}
	
	.main{grid-template-columns: 1fr 1fr 1fr 1fr;grid-template-rows: 420px}
	.main .m1 .addicon .h{margin: 0px 20px;} 
   
	.vegetable .text{padding-top: 220px ;padding-bottom: 250px;text-align: center;}

    .hart{grid-template-columns: 5fr 5fr;}
    .hart .a{padding: 80px 20px;}
    
	.hart .b p{font-size: 17px;padding-bottom: 30px;}
	.hart{grid-template-columns: 5fr 5fr;}
    
    .blog{padding: 20px 10px;}
	.blog .food{grid-template-columns: 1fr 1fr 1fr;}

	.poster{padding: 20px 20px;}
	.poster .mainpart .part1{margin: 0px 20px;}
	.poster .mainpart{grid-template-columns: 1fr 1fr 1fr;}
   
	
	.footer .part{grid-template-columns: 2fr 2fr 2fr 4fr;padding: 130px 0px;}
	.about_us{padding: 100px 200px;}

  	.aboutbanner{background-repeat: no-repeat;background-size: cover;padding: 0px 0px 350px 0px;background-size: 100% 108%;}
  	.what{padding: 80px 200px;}
  	.the_founder{padding: 150px 260px;}
  	.ot{padding: 80px 280px;}

  	.our_s{padding: 50px 10px;}	
}
@media(min-width: 1200px)
{
	.header{grid-template-columns: 6fr 4fr;}
	.header1{grid-template-columns: 2fr 8fr;}
	.information{padding: 0px 70px;}
	.information .info .a .title{font-size: 20px;}
	.information .info .a .x{font-size: 16px;}
	.banner{padding: 100px 70px;}

	
	.vegetable .text{padding-top: 230px ;padding-bottom: 270px;text-align: center;}
	.vegetable .text h1{font-size: 86px;}

    .hart .b{padding-left: 60px; padding-right: 0px;}
    .hart .a{padding: 10px 20px;}
	.hart .b p{font-size: 18px; padding-bottom: 80px;}
	.hart{grid-template-columns: 6fr 4fr;}

	.blog{padding: 20px 70px;}

	.poster{padding: 20px 70px;}
	.poster .mainpart .part1{margin: 0px 60px;}

    .subsribe{padding: 20px 270px;}
	.subsribe input{padding: 18px 0px; width: 60%;}
	.subsribe button{padding: 18px 80px;}

    .main .m1 .addicon .h{margin: 0px 25px;} 

    .footer{padding: 20px 70px;}
    .footer .part{grid-template-columns: 1fr 1fr 1fr 1fr;}

    .about_us{padding: 100px 250px;}

    .xyz{padding: 40px 60px;grid-template-columns: 1fr 1fr 1fr;}

    .aboutbanner{background-position: bottom center;background-repeat: no-repeat;background-size: cover;padding: 0px 0px 450px 0px;
    	         background-size: 100% 150%;}

    .information1{padding: 80px 70px;}
    .information1 .shipping p{font-size: 16px;}

    .what{padding: 80px 300px;}

    .the_founder{padding: 200px 360px; background-size: 100% 100%;background-position: center;}
    .ot{padding: 80px 380px;}
    .team{padding: 20px 70px;}
    .team .team_img .a .l{padding-top: 160px;}

    .our_s{padding: 80px 50px;}
}