@font-face{
	font-family:pt_sans;
	src:url(../font_family/PT-sans/PTSans-Bold.ttf);

}
@font-face{
	font-family:pacifico;
	src:url(../font_family/Pacifico/Pacifico-Regular.ttf);

}
@font-face{
	font-family:Montserrat;
	src:url(../font_family/Montserrat/Montserrat-ExtraLight.ttf);
}
*{
	box-sizing: border-box; margin: 0; padding: 0;
}
.header{
	background: #679509;
	display:grid;
	grid-template-columns: 6fr 4fr;

}
.header .off{
	color: white;
	padding-left: 80px;
	font-family: sans-serif;
	line-height: 50px;
	font-size: 14px;
}
.header .off b{
	font-family: pt_sans;
	color: white;
	letter-spacing: 0.3px;
}
.header .cart{
	position: relative;
	padding-right: 0px;
	padding-right: 80px;
}
.header .cart a{
	text-decoration: none;
	font-size: 12px;
	font-family: sans-serif;
	margin-right: 10px;
	line-height: 50px;
	padding: 8px 10px;
	border-right: 1px solid #F0F0F0;
	color: #F0F0F0;
}
.header .cart a:hover{
	color: #86ae34;
}
.header .cart i{
	color: #F0F0F0;
	font-size: 16px;
}
.header .cart a:hover i{
	color: #86ae34;
}
.header .cart .a{
	border-right: none;
}
.header .cart .a:after{
	content: "My Cart";
	color: white;
	font-size: 22px;
	position: absolute;
	top: 85%;
	left: 40%;
	padding: 50px 30px;
	height: 50px;
	width: 240px;
	text-align: center;
	background: #3b3d42;
	display: none;
	z-index: 5;

}
.header .cart .a:hover::after{
	display: block;
	box-shadow: 0 0 20px darkgray;
}

.header1{
	display: grid;
	background: white;
	position: sticky;
	top: 0;
	left: 0;
	padding: 20px 0;
	grid-template-columns: 2fr 8fr;
	z-index: 4;
}
.header1 .logo{
	display: flex;
	align-items: center;
	justify-content: center;

}
.header1 .nev{
	padding-top: 10px;
	padding-right: 80px;
	display: flex;
	align-items: center;
	justify-content: right;

}

.header1 .nev a:hover{
	color: #86AE34;
}
.header1 .nev a{
	text-decoration: none;
	color: #A5A5A5;
}
.header1 .nev .dropdown{
	list-style: none;
	display: inline;
	margin-right: 20px;
	font-family: pt_sans;
	position: relative;

}
.header1 .nev .dropdown::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	height:3px;
	width: 0%;
	background: #86AE34;
	transition: 0.5s;


}
.header1 .nev .dropdown:hover::after{
	width: 100%;

}
.header1 .nev .a:hover .submenu{
	display: block;
	position: absolute;
    top: 120%;
    left: -30px;
    background: white;
    width: 150px;
    box-shadow: 0 0 2px gray;
}
.submenu{
  display: none;
  text-align: left;
  padding-left: 30px;

}
.submenu li{
	list-style: none;
	padding-top: 20px;
	font-family: sans-serif;
}

.banner1{
	background:url(../img/bg1.jpg);
	background-size: 139% 100%;
	padding: 235px 80px 280px 80px;
}

.banner1 .info h1{
	font-size: 80px;
	font-family: pt_sans;
	color: #333333;

}
.banner1 .info span{
	color: #679509;
}
.banner1 .info p{
	padding-top: 20px;
	font-size: 30px;
	font-family: pacifico;
	padding-bottom: 50px;
	color: #363636;
}
.banner1 .info a{
	padding: 22px 42.5px;
	background: #86AE34;
	text-decoration: none;
	font-family: pt_sans;
	font-size: 14px;
	color: white;
}
.banner1 .info a:hover{
	background: #333333;
}

.heading{
	font-size: 48px;
	text-align: center;
	font-family: pacifico;
	color: #86ae34;
	padding: 30px 0px;
}

.information{
	padding: 0px 70px;
}
.information .info{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.information .info .a{
	text-align: center;
	margin: 0px 10px;
}
.information .info .a img{
	padding: 20px 0px;
}
.information .info .a .title{
	font-size: 20px;
	font-family: pacifico;
	color: #4F4F4F;
}
.information .info .a .x{
	padding-top: 15px;
	font-family: sans-serif;
	color: #8b8b8b;
	font-size: 16px;
	line-height: 1.7em;
}

.banner{
	padding: 100px 70px;
  
}

.banner .pace{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.banner .pace .part1{
	margin: 0px 5px;
	position: relative;
	overflow: hidden;
}
.banner .pace .part1::after{
	content: "";
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.1;
	position: absolute;
	top: 0;
	left:0;
	transform: translate(100%,-100%);
	transition: 0.5s;

}
.banner .pace .part1:hover::after{
	transform: translate(0%,0%);
}
.banner .pace .part1::before{
	content: "";
	height: 100%;
	width: 100%;	
	background: black;
	opacity: 0.1;
	position: absolute;
	top: 0;
	left:0;
	transform:translate(-100%,100%);
	transition: 0.5s;

}
.banner .pace .part1:hover::before{
	transform: translate(0%,0%);
}
.product_heading{
	text-align: center;
}
.product_heading p{
	font-family: pacifico;
	padding: 5px 0px;
	color: #4F4F4F;
	font-size:35px;
	
}
.product_heading ul{
	padding: 15px 0px;
}
.product_heading li{
	display: inline;
	margin-right: 20px;
	
}
.product_heading a{
	text-decoration: none;
	font-family: pt_sans;
	color: #A5A5A5;
	
}
.product_heading .a{
	color: #86AE34;
}
.product_heading a:hover{
	color: #86AE34;
	font-family: pt_sans;
}

.main{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 420px;
	margin: 0 30px;
}
.main .m1{
	box-shadow: 0 0 3px lightgray;
	margin-right:  20px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.main .m1 .front{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: 0.5s;
	width: 100%;
}
.main .m1:hover .front{
transform: rotateY(0deg);
}
.main .m1 .back{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(0deg);
	backface-visibility: hidden;
	transition: 0.5s;
	width: 100%;
}
.main .m1:hover .back{
	transform: rotateY(180deg);
}
.op{
	position: absolute;
	top: 76%;
	width: 100%;
}
.main .m1 .x{
	font-family: sans-serif;
	font-size: 14px;
	padding: 12px 0px 10px 0px;
	color: #86AE34;
}
.main .m1 .y{
	font-family: sans-serif;
	padding-bottom: 10px;
	color: #363636;
}
.main .m1 .z{
	font-family: pt_sans;
	font-size: 20px;
	color: #86AE34;
}
.main .m1 .z span{
	text-decoration: line-through;
}
.main .m1 .addicon{
	background: white;
	padding: 10px 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
	transition: 0.5s;
}
.main .m1:hover .addicon{
	top: 74%;
	opacity: 1;
}
.main .m1 .addicon a{
	text-decoration: none;
	color: white;
	background: #86AE34;
	padding: 14px 0px;
	display: block;
}
.main .m1 .addicon a:hover{
	background: black;
}


.vegetable{
	background:url(../img/bg2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
}
.vegetable .text{
	padding-top: 250px ;
	padding-bottom: 280px;
	text-align: center;
}
.vegetable .text h1{
	font-size: 92px;
	color: #363636;
	font-family: pt_sans;

}
.vegetable .text h3{
	font-size: 30px;
	color: #363636;
	font-family: pacifico;
	padding-top: 20px;
	padding-bottom: 50px;
}
.vegetable .text a{
	font-size: 16px;
	font-family: pt_sans;
	letter-spacing: -1px;
	background: #86AE34;
	padding: 22px 42px 22px 42px;
	color: white;
	text-decoration: none;


}
.hart{
	display: grid;
	grid-template-columns: 6fr 4fr;
}
.hart .a{
	padding: 10px 20px;

}
.hart .b{
	padding-left: 60px;
}
.hart .b h4{
	font-family: pacifico;
	color: #4F4F4F;
	font-size: 22px;
}
.hart .b p{
	padding-top: 10px;
	font-family: pt_sans;
	line-height: 1.7em;
	font-size: 18px;
	padding-bottom: 60px;
	color: #8B8B8B;
}
.letest h1{
	padding-top: 100px;
	font-family: pacifico;
	text-align: center;
}

.blog{
	padding: 20px 70px;
	margin-bottom: 50px;
}
.blog .food{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}
.blog .food .a{
	margin: 0px 20px;

}
.blog .food .b{
	text-align: center;
}
.blog .food .b h3{
	font-size: 20px;
	font-family: pt_sans;
	padding-top: 20px;
	color: #4F4F4F;
}
.blog .food .b h3:hover{
	color: #61CE70;
}
.blog .food .b p{
	padding-top: 10px;
	color: #4F4F4F;
	font-family: sans-serif;
}
.blog .food .b p:hover{
	color: #61CE70;
}
.poster{
	padding: 20px 70px;

}
.poster .mainpart{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.poster .mainpart .part1{
	margin: 0px 60px;
	border-bottom: 2px solid gray;

}
.poster .mainpart .part1 .a{
	height: 250px;
}
.poster .mainpart .part1 h1{
	padding-top: 20px;
	font-family: pacifico;
	color: #4F4F4F;
	text-align: center;
}
.poster .mainpart .part1 .subpart1{
	margin-top: 40px;
	
	}
.poster .mainpart .part1 .subpart1 .a{
	box-shadow: 0 0 3px lightgray;
}
.poster .mainpart .part1 .subpart1 p{
	padding-top: 10px;
	text-align: center;
}
.poster .mainpart .part1 .subpart1 .b .x{
  font-family: sans-serif;
  font-size: 18px;
  color: #86AE34;
}
.poster .mainpart .part1 .subpart1 .b .x:hover{
	color: #A5A5A5;
}
.poster .mainpart .part1 .subpart1 .b .y{
  font-family: sans-serif;
  color: #A5A5A5;
}
.poster .mainpart .part1 .subpart1 .b .y:hover{
	color: #86AE34;
}
.poster .mainpart .part1 .subpart1 .b .z .v{
  font-family: pt_sans;
  color: #A5A5A5;
  text-decoration: line-through;
}
.poster .mainpart .part1 .subpart1 .b .z .n{
	font-family: pt_sans;
	font-size: 20px;
	color: #86AE34;
}
.lastbanner{
	background: url(../img/bg5.jpg);
	padding: 180px 0px;
}
.lastbanner .main1{
	color: white;
	text-align: center;
}
.lastbanner .main1 h1{
	font-family: pacifico;
	padding-bottom: 30px;
}
.lastbanner .main1 i{
	font-size: 30px;
}
.lastbanner .main1 .x{
	line-height: 1.7em;
	font-family: sans-serif;
	padding: 10px 0px;
}
.lastbanner .main1 h3{
   font-family: pt_sans;
   padding-bottom: 10px;
}
.subsribe{
	padding: 20px 270px;
	text-align: center;
}
.subsribe h1{
	font-family: pacifico;
	font-size: 40px;
	color: #505050;
	padding: 40px 0px;
	
}
.subsribe input{
	padding: 18px 0px;
	width: 60%;
	text-align: left;
	border: none;
	outline: none;
	margin-bottom: 10px;
	box-shadow: 0px 0px 3px gray;
	font-size: 16px;
}
.subsribe a{
	text-decoration: none;
}
.subsribe button{
	padding: 18px 40px;
	margin-left: 20px;
	font-family: sans-serif;
	color: white;
	background: #86AE34;
	border: none;

}
.subsribe button:hover{
	background: black;
}

.footer{
	background: url(../img/footer.jpg);
	padding: 20px 70px;
	margin-top: 30px;
}
.footer .part{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 130px 0px;
}
.footer .part .a{
	margin: 0px 10px;
}
.footer .part a{
	text-decoration: none;
}
.footer .part .a .x{
	font-family: pacifico;
	font-size: 22px;
	color: #4F4F4F;

}
.footer .part .a li{
	list-style: none;
	padding-top: 20px;
}
.footer .part .a i{
	font-size: 18px;
}
.footer .part .a a{
	font-family: sans-serif;
	color: #79787F;
}
.footer .part .a a:hover{
  color: #86AE34;
}

/*home page end*/


.o1{
	padding: 0px 50px;
	background: #F0F0F0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.o1 .a{
	padding: 20px 0px;
	text-align: left;
	font-family: pt_sans;
	color: #3B3D42;
}
.o1 .b{
	padding: 20px 0px;
	text-align: right;
	color: #4F4F4F;
	font-family: sans-serif;
}
.o1 .b a{
	text-decoration: none;
	color: #A5A5A5;
}
.o1 .b a:hover{
	color: #4F4F4F;
}
.about_us{
	padding: 100px 250px;
}
.about_us .us{
	text-align: center;
}
.about_us .us p{
	padding: 8px 0px 12px 0px;
}
.about_us .us .x{
	font-family: pacifico;
	font-size:32px;
	color: #505050;
	letter-spacing: 2px;
}
.about_us .us .y{
	font-family: pt_sans;
	font-size: 20px;
	color: #232222;
}
.about_us .us .z{
	font-family: pt_sans;
	font-size: 16px;
	color: #A5A5A5;
	line-height: 1.7em;
}
.aboutbanner{
	background: url(../img/post6.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px 0px 450px 0px;
	background-size: 100% 150%;
}
.xyz{
	padding: 40px 60px;
	background: #86ae34;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.xyz .happy{
   text-align: center;
   color: #ffffff;
}
.xyz .happy h1{
   font-family: Montserrat;
   font-size: 43px;
}
.xyz .happy p{
	font-family: pt_sans;
	font-size: 14px;
}
.information1{
	padding: 80px 70px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background: #f9f9f9;
}
.information1 .shipping{
   margin: 0px 10px;
   text-align: center;
}
.information1 .shipping h3{
	font-family: pacifico;
	color: #505050;
}
.information1 .shipping p{
	font-family: pt_sans;
	font-size: 16px;
	line-height: 1.7em;
	padding: 10px 0px;
	color: #A5A5A5;
}

.what{
	padding: 80px 300px;
	text-align: center;
}
.what h1{
	font-family: pacifico;
	padding-bottom: 15px;
}
.what .u{
   font-family: pt_sans;
   color: #A5A5A5;
   padding-bottom: 20px;
}
.what .wwcd{
	padding: 10px 0px;
	text-align: left;
}
.what .wwcd .x{
	padding: 7px 0px;
	background: #f3f6f5;
	border-radius: 3px;
	position: relative;
	margin-top: 10px;

}
.what .wwcd  p{
	font-family: sans-serif;
}
.what .wwcd .x::after{
	content: "90%";
	text-align: right;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	color: white;
	background: #86ae34;
	border-radius: 3px;
	animation: xyz 1s linear 1 forwards;
  font-size: 12px;
  padding-right: 10px;
}
.what .wwcd .y::after{
	content: "80%";
	animation: efg 1s linear 1 forwards;
}
.what .wwcd .z::after{
	content: "70%";
	animation: hij 1s linear 1 forwards;
}
@keyframes xyz{
	 from{width: 0%;}
	 to{width: 90%;}
}
@keyframes efg{
	 from{width: 0%;}
	 to{width: 80%;}
}
@keyframes hij{
	 from{width: 0%;}
	 to{width: 70%;}
}

.the_founder{
	padding: 200px 360px;
	background: url(../img/bg2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.the_founder .co_founder{
	text-align: center;
}
.the_founder .co_founder h1{
	font-family: pacifico;
	color: #212121;
	letter-spacing: 1.5px;
	padding-bottom: 20px;
}
.the_founder .co_founder p{
	font-size: 16px;
	font-family:sans-serif;
	line-height: 1.7em;
	color: #000000;
}
.ot{
	padding: 50px 380px;
}
.ot .ourteam{
	text-align: center;
}
.ot .ourteam h1{
	font-family: pacifico;
	color: #4F4F4F;
	padding: 20px 0px;
}
.ot .ourteam p{
	font-family: pt_sans;
	color: #A5A5A5;
}
.team{
	padding: 20px 70px;
}
.team .team_img{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.team .team_img .a{
	margin: 0px 20px;
	position: relative;
	overflow: hidden;
}
.team .team_img .a .l{
	height: 99%;
	width: 100%;
	position: absolute;
	top: 101%;
	left: 0;
	background: rgba(33, 33, 33, 0.5);
	padding-top: 160px;
	text-align: center;
	transition: 0.5s;
}
.team .team_img .a:hover .l{
    top: 0%;
    left: 0%;
}
.team .team_img .a .l h2{
	font-family: pacifico;
	color: #fff;
	padding-bottom: 10px;
}
.team .team_img .a .l h2:hover{
	color: #86AE34;
}
.team .team_img .a .l h4{
	font-family: sans-serif;
	color: #86AE34;
	padding-bottom: 10px;
}
.team .team_img .a .l p{
	font-family: pt_sans;
	color: #fff;


}